*.pyc
__pycache__
.DS_Store
.vscode
.pypirc
*/tmp/*
build/*
dist/*
*.egg-info
.python-version
logs/%
.coverage
locustfile.py
site/
.env
.idea
reports
api_server.py
base.py
test_apiserver.py
test_client.py
test_context.py
test_httprunner.py
test_response.py
test_runner.py
test_task.py
test_testcase.py
test_utils.py
SuperApp.log
504
venv/*
example/*

