*.pyc
__pycache__
.DS_Store
.vscode
.pypirc
*/tmp/*
build/*
dist/*
*.egg-info
.python-version
logs/%
.coverage
locustfile.py
site/
.env
.idea
reports
SuperApp.log
504
venv/*
example/*
atf.egg-info/*
dist/*
.DS_Store/*
idea/*